<div class="card-deck ">

    {{#each reviews}}
        <div class="card m-3 shadow">
            <div class="pt-4">
                <img class="p-2 shadow ms-5" width="250" height="150" src="{{this.book.cover_i}}" alt="Book Cover Image">
                <img class="p-2 shadow ms-5" width="250" height="150" src="{{this.book.cover_i}}" alt="Posted Photo">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.book.title}}</h5>
                <p class="card-text">{{this.review}} rated {{this.rating}}/5</p>
            </div>
        </div>
    {{/each}}
</div>