<h1>{{pageTitle}}</h1>

{{#each data}}
    <div class="mb-3 p-3 border border-3 rounded-2 d-flex">
        <img class="m-3" src="https://covers.openlibrary.org/b/id/{{cover_i}}-M.jpg" alt="Book cover for {{title}}">
        <div class="m-3">
            <h5>{{title}}</h5>
            <p>{{author_name}}</p>
            <a class="btn btn-primary"
               href="/Bookshelf/review/?title={{title}}&author_name={{author_name}}&image={{cover_i}}&first_published_year={{first_publish_year}}">
                Add a Review
            </a>
        </div>
    </div>
{{/each}}